<!doctype html>
<html lang="en">
<%- include('header') %>
  <%- include('nav') %>

    <body>
      <!-- Begin page content -->
      <main role="main" class="container">
        <h1 class="mt-5">Oops!</h1>
        <p class="lead">That page doesn't exist.</p>
        <p>Something sent you to a page that doesn't exist! Please return to the
          <a href="/">home page</a>.</p>
      </main>
      <%- include('footer') %>
        <%- include('tail') %>
    </body>

</html>
