<%- include('header') %>
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">FeatTracker</h1>
      <p class="lead">Welcome to the site!</p>
      <p>This site is still under construction, but will eventually allow you to track customized "feats" for a team of people.</p>
    </main>
<%- include('footer') %>
