    <footer class="footer">
      <div class="container">
        <span class="text-muted">Powered by Bootstrap and the MEAN stack. Designed/built by <a href="https://shearn89.com">shearn89.</a></span>
      </div>
    </footer>
